.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;

    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);

    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    /* background: transparent; */
}

.glow-on-hover:hover:before {
    opacity: 1;

}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FA610A;
    background-color: #FA610A;
    left: 0;
    top: 0;
    border-radius: 10px;
}



@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.follow_social_btn {
    background-image: url("../../../assets/Images/icons/button_bg.svg");
    width: 100px;
    height: 100px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
    overflow: hidden;
}

.follow_social_btn:hover .social_icon {
    color: #ffffff;
}


.follow_social_btn:hover {
    width: 200px;
    gap: 15px;
    background-color: #FA610A;

}

.social_icon {
    text-align: center;
    font-size: 2.5rem;
    color: #FA610A;
    transition: color 0.3s ease;
}

.social_text {
    display: none;
    color: white;
    /* margin-left: 8px; */
    font-size: large;
    font-weight: bold;
}

.follow_social_btn:hover .social_text {
    display: flex;
    color: white;
}